/.git/
/.gitignore
/.github
/.claude
/.bundle
/.env*
/config/master.key
/config/credentials/*.key
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/coverage
/docs
/spec
/frontend/node_modules
/public/spa
/.dockerignore
/Dockerfile*
/compose*.yaml
