/.bundle
/vendor/bundle

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep

/config/master.key
/config/credentials/*.key
.env
.env.*
!.env.example

/coverage/
/public/spa/
/frontend/node_modules/
/frontend/test-results/
/frontend/playwright-report/
/frontend/dist/
